.counter {
	width: 119px;
	height: 43px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: 1px solid var(--divider, #C4C4C4);
	background: #FFF;
	color: #000;
	text-align: center;
	font-family: Oswald;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase
}


.counter:hover {
	border: 1px solid var(--gray-1, #828282);
}

.counter button {
	height: 100%;
	width: 35%;
	border: 0;
	background-color: #FFFFFF;
	color: #C4C4C4;
	cursor: pointer
}

.counter button:hover {
	color: #828282;
	background: var(--light-blue-hover, #F0F2F2);
}