.shop-icon {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 6px;
}

.shop-icon-content {
	display: flex;
	flex-direction: column;
	font-family: Roboto;
	font-size: 10px;
	color: white;
}

.shop-icon-content>p {
	max-height: 12px;
	margin: 0;
	padding: 0;
	position: relative;
	bottom: 23px;
	font-size: 11px;

}

.shop-icon-content>Link {
	color: white;
}