.App {
	text-align: center;
}

.box {
	width: 100px;
	height: 100px;
	background-color: yellow;
	transition: all 0.3s ease 0s;
	margin: 30px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}

.animate {
	transform: translateX(100px);
}